# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Vim
*.swp
*.swo

#Binaries
/cpp/hellocmake/build
/cpp/googletest/runTests

# exclude
/docker/labs
*/.idea
/docker/shopping-cart/products/target
/docker/shopping-cart/users/target
**/.idea/*
